@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "../App";

$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #9D4BFF;
$nav-font-color: #ffff;
$link-hover-color: #ffff;

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  color: $nav-font-color;

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;
      cursor: pointer;
      display: block;
      padding: 10px 20px 0 20px;
      line-height: 50px;
      background: $nav-background;
      color: $nav-font-color;
      text-decoration: none;
      text-transform: uppercase;


      &::before {
        transition: 300ms;
        height: 2px;
        content: "";
        position: absolute;
        background-color: white;
        width: 0;
        bottom: 7px;
      }

      &:hover::before {
        width: 70%;
      }

      &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
      }

      ul li {
        min-width: 190px;

        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
