:root {
  /*===== Colors =====*/
  --first-color: #9D4BFF;
  --first-color-dark: #23004D;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 30%;
    padding: 0;

    li {
      list-style: none;
      padding: 5px 10px;
      border: 1px solid var(--first-color);
      background: var(--first-color);
      color: white;
      border-radius: 5px;
      margin: 0 3px;

      &:hover, &.active {
        background: var(--first-color-dark);
        cursor: pointer;
      }

      &.active {
        pointer-events: none;
      }
    }

  }
}